GNOSWAP_REF=3f2642b8898ae02d14a14c4050d80919f18f3f21
GNOSWAP_REPO=https://github.com/gnoswap-labs/gnoswap.git
GNO_CHAIN_ID=dev
GNO_GNOKEY_REMOTE=localhost:26657
GNO_REST=http://localhost:48888
TEST_MNEMONIC=
